<mat-card>
  <form #aircraftForm="ngForm" (ngSubmit)="save(aircraftForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{aircraft.aircraftRegistration ? 'Edit' : 'Add'}} Aircraft</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="aircraft.href">
      <mat-form-field>
        <input matInput placeholder="Aircraft Registration" [(ngModel)]="aircraft.aircraftRegistration" required name="aircraftRegistration" #aircraftRegistration>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Aircraft Type" [(ngModel)]="aircraft.aircraftType" name="aircraftType" #aircraftType>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!aircraftForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(aircraft.href)" *ngIf="aircraft.href" type="button">Delete</button>
      <a mat-button routerLink="/aircraft-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
      <div class="giphy">
        <img src="{{aircraft.giphyUrl || 'https://media.giphy.com/media/NPY3npBJUCmmFkhmy0/giphy.gif'}}" alt="{{aircraft.aircraftRegistration}}">
      </div>
    </mat-card-footer>
  </form>
</mat-card>
