<mat-card>
  <mat-card-title>Long Distance Aircrafts</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let aircraft of longDistanceAircrafts">
        <img mat-list-avatar src="{{aircraft.giphyUrl || 'https://media.giphy.com/media/NPY3npBJUCmmFkhmy0/giphy.gif'}}" alt="{{aircraft.aircraftRegistration}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/aircraft-edit', aircraft.id]">{{aircraft.aircraftRegistration}} ({{aircraft.aircraftType}})</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-title>Short Distance Aircrafts</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let aircraft of shortDistanceAircrafts">
        <img mat-list-avatar src="{{aircraft.giphyUrl || 'https://media.giphy.com/media/NPY3npBJUCmmFkhmy0/giphy.gif'}}" alt="{{aircraft.aircraftRegistration}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/aircraft-edit', aircraft.id]">{{aircraft.aircraftRegistration}} ({{aircraft.aircraftType}})</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-title>Other Aircrafts</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let aircraft of otherAircrafts">
        <img mat-list-avatar src="{{aircraft.giphyUrl || 'https://media.giphy.com/media/NPY3npBJUCmmFkhmy0/giphy.gif'}}" alt="{{aircraft.aircraftRegistration}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/aircraft-edit', aircraft.id]">{{aircraft.aircraftRegistration}} ({{aircraft.aircraftType}})</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-fab color="primary" [routerLink]="['/aircraft-add']">Add</button>
</mat-card>
